/* You can add global styles to this file, and also import other style files */
html {
  min-height: 100%;
}


body {
  margin: 0px;
  background-color: #1f1719;
}

* {
  margin: 0px;
}

button {
  border: none;
}
